my
*.pyc
__pycache__
bin/*
.cache
cutlass
*~
compile_commands.json
.ninja*
*.log
*.out
*.aux
docs/amspork_instr.pdf
docs/spork_nyc25.pdf
docs/myricube25.pdf
docs/nyc25
docs/nyc25_tex
docs/spork_b.pdf
docs/spork_2024.pdf
docs/spork_dev.pdf
docs/spork_gemm.pdf
docs/spork.pdf
docs/SpecialWindow.pdf
docs/spork_mini.pdf
docs/coll_algebra.pdf
docs/coll_samples
docs/old_coll_algebra.pdf
docs/old_coll_samples
docs/wgmma_dirty_laundry.pdf
docs/spork_guide.pdf
docs/spork_pre_h100.pdf
docs/gemms_tex
docs/gemms
docs/summer_of_wgmma.pdf
docs/sketch_coll_analysis.pdf
docs/su_samples
docs/guide_correct/
docs/guide/
docs/intro/
docs/exo_intro.pdf
docs/tmem_todo.pdf
gemm/gemm
attn
libattn.so
ninja
/gemm_sm90.*
/cute_gemm.*
/cutlass_gemm.*
xgemm_Sm80/*
xgemm_Sm90*/*
nyc25/*
*.d
*.i
*.ii
*.cubin
*.cudafe*
*.fatbin*
*.module_id
*.ptx
elf.o
*.sass