my
*.pyc
__pycache__
bin/*
.cache
cutlass
*~
compile_commands.json
.ninja*
*.log
*.out
*.aux
docs/spork_2024.pdf
docs/spork_dev.pdf
docs/spork.pdf
docs/SpecialWindow.pdf
docs/spork_mini.pdf
docs/coll_algebra.pdf
gemm/gemm
attn
libattn.so
ninja
/gemm_sm90.*
/cute_gemm.*
/cutlass_gemm.*
xgemm_Sm80/*
xgemm_Sm90/*
*.d
*.ii
*.cubin
*.cudafe*
*.fatbin*
*.module_id
*.ptx