my
*.pyc
__pycache__
bin/*
.cache
cutlass
*~
compile_commands.json
.ninja*
*.log
*.out
*.aux
docs/spork_2024.pdf
docs/spork_dev.pdf
docs/spork.pdf
docs/SpecialWindow.pdf
gemm/gemm
attn
libattn.so
ninja
/gemm_sm90.*
/cute_gemm.*
/cutlass_gemm.*
xgemm/*
